* {
    padding: 20px 6.5%;
    font-family: sans-serif;
}

.shapes {
    text-align: center;
}

span {
    display: inline-block;
    border: none;
    margin-right: 60px;
}

.cycle {
    width: 30px;
    height: 100px;
    border-radius: 150px;
    background-color: chocolate;
}

.rectangle {
    width: 85px;
    height: 80px;
    background-color: chocolate;
}

.square {
    width: 50px;
    height: 100px;
    background-color: chocolate;
}

h1, h2 {
    color: blue;
}

body {
    background-color: rgb(75, 75, 177);
}